body{
    background-color: rgb(42, 39, 39);
    color: white;
}


.nav{
    display: flexbox;
    padding-left: 10px;
    padding-top: 20px;
    font-family: "Circular";
    src: url(../fonts/CircularStd-Medium.otf);
    font-size: 3rem;
    font-weight: bold;
}

#icons svg{
    margin:0px 5px;
}

p{
    display: inline;
  margin-top: 25px;
  margin-bottom: 20px ;
    font-size: 1.2rem;
    font-weight: 500;
}
.card{
    background-color: rgb(42, 39, 39);
    display: flex;
}

.container img{
    width: 80px;
    background-color: rgb(42, 39, 39);
}
span{
    color: white;
   

}
#mix{
    width: 130px;
    
}
.text{
    font-size: 1.2rem;
    font-weight: bold;
}
.play {
    padding-top: 10px;
}
/*.card img{
    width: 50px;
}*/
.card-text{
    color: white;
}

#quadro {
    background-color: #3a3636;
    border-radius: 10px; 
    padding: 10px;
    margin-left: 10px; 
    margin-right: 0px;
  }
  #quadro1 {
    background-color: #3a3636;
    border-radius: 10px; 
    padding: 10px; 
  margin: 10px;
}


.style{
    font-size: 1.7rem;
    text-align: center;
    color: white;
}
.pippoPlay{
    border-radius: 50%;
    background-color: #262323;
    border: none;
    margin-left: 20px;
}
.cuorePlaylist{
    color: rgb(15, 228, 15);
    font-size: 1.5rem;
    padding-right: 20px;

}